<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <form enctype="application/x-www-form-urlencoded" method="post" action="/">
      <input type="text" placeholder="UUID" id="uuid" name="uuid"></input>
      <input type="text" placeholder="Token" id="token" name="token"></input>
      <input type="submit" value="go"></input>
    </form>

</body>
</html>
